@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto+Condensed&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: rgb(231, 231, 231);
    position: relative;
}

/* header Style */
header{
    width: 100%;
    height: 150px;
    background-color: #7B2CBF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 10;
}
.mainSec{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mainSec h2{
    color: white;
}
.searchBox{
    width: 50%;
    display: flex;
    justify-content: center;
}
.searchBox input{
    width: 100%;
    border: none;
    border-radius: 2px 0px 0px 2px;
    font-size: 20px;
    height: 35px;
    padding: 5px 10px;
    outline: none;
    font-weight: bolder;
}
.searchBox button{
    border: none;
    padding: 5px 15px;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
    background-color: rgb(255, 134, 20);
    transition: background-color 50ms ease-in;
    color: white;
    outline: none;
}
.searchBox button:active{
    background-color: rgb(219, 106, 0);
}

/* basket */
.basket{
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: relative;
}
.basket i{
    font-size: 23px;
    color: white;
}
.basketCounter{
    background-color: red;
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 10px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    top: -10px;
    right: -10px;
    font-weight: bolder;
}

/* category */
.category{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.category button{
    border: none;
    margin: 0px 10px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
    cursor: pointer;
}
@media screen and (max-width: 450px) {
    .category button{
        padding: 5px 3px;
        margin: 0px 5px;
    }
}

/* Product Section */
.products{
    width: 90%;
    margin-top: 10px;
}
.productsCenter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.product{
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    padding-bottom: 20px;
    border-radius: 10px 10px 6px 6px;
    overflow: hidden;
    margin-bottom: 50px;
}
.product .imgDiv{
    position: relative;
}
.product .imgDiv img{
    width: 100%;
    user-select: none;
}
.product .info{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    font-weight: bolder;
    margin: 10px 0px 15px 0px;
    flex-wrap: wrap;
    user-select: none;
}
.product .addToCart{
    display: flex;
    justify-content: center;
}
.product .addToCart button , .basketBtn{
    font-size: 16px;
    font-weight: bolder;
    border: none;
    outline: none;
    background-color: #e6cbfd;
    padding: 6px 10px;
    border-radius: 4px;
    color: #8019d4;
    cursor: pointer;
    transition: 150ms ease-in;
}
.product .addToCart button:hover , .basketBtn:hover{
    background-color: #8019d4;
    color: #e6cbfd;
}
.catX , .catPS , .catNS , .catST{
    position: absolute;
    color: white;
    padding: 3px 5px;
    left: 0px;
    top: 0px;
    border-radius: 0px 0px 5px 0px;
}
.catX{
    background-color: rgba(29, 160, 29 , .8);
}
.catPS{
    background-color: rgba(25, 87, 187, 0.8);
}
.catNS{
    background-color: rgba(230, 0, 18 , .8);
}
.catST{
    background-color: rgba(12, 28, 68, 0.8);
}
@media screen and (max-width : 670px) {
    .product{
        width: 400px;
    }
    .productsCenter{
        justify-content: center;
    }
}

/* Modal Styles */
.backDrop{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(65, 65, 65, 0.7);
    z-index: 20;
    top: 0;
    left: 0;
    display: none;
}
.basketModal{
    width: 450px;
    height: auto;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 0px 6px 2px #7f2bc9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 8px;
    position: fixed;
    top: -101vh;
    z-index: 30;
}
.basketFooter{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cart , .cartControl{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cart{
    width: 100%;
    margin-bottom: 30px;
}
.cart > img{
    width: 125px;
    height: 70px;
    border-radius: 7px;
}
.cartDesc{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    user-select: none;
    width: 30%;
}
.cartDesc span:first-child{
    font-weight: bolder;
    margin-bottom: 5px;
    flex-wrap: wrap;
}
.cartDesc span:last-child{
    color: rgb(148, 148, 148);
    font-weight: bolder;
    font-size: 14px;
}
.countControl{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#moreBtn , #lessBtn , #deleteCart{
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}
#moreBtn{
    color: #7f45ad;
}
#lessBtn{
    color: rgb(209, 24, 61);
}
.countControl > span{
    font-size: 13px;
    font-weight: bolder;
    user-select: none;
}